/*font-family: 'Arbutus Slab', serif;-->*/
/*font-family: 'Carter One', cursive;*/
/**{
	border: 2px solid blue;
	padding-top: 10px;
	margin: 10px;

}*/
body{
font-family: 'Arbutus Slab', serif;
margin:0;
}

table{
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;

}

th{
	background: #1c1f1e;
	color: #ffcb05;
	padding: 10px 20px;
}
td{
	color: #adaaa6;
	text-align: left;

	padding: 20px;
}


table, th, td{

	border: 1px solid #1c1f1e;
	border-collapse: collapse;
}
input, textarea{

	outline: o;
}

input:focus, textarea:focus{
	background: #adaaa6;
}

.titulo{

	font-size: 70px;
	margin-bottom: : 15px;
	
}
.backgraund{

	background-image: url('../Imagenes/m16_22.jpg');
	color:white;
	background-repeat: no-repeat;
}

.titulo-a{
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 30px;


}

.Rifles h2 {
	font-family: 'Carter One', cursive;
	font-size: 35PX;
	text-align: center;
}

.Rifles{
	color:#adaaa6;

}
.Rifles{
	

}

.Rifles ol{
	padding: 0;
	margin: 12px;
}

.titulo-b{

	font-size: 40px;
	margin-bottom: 30px;
    margin-top: 10px;
}

.portada{
	
	padding: 20px;
}
.portada button{
	margin-bottom: 70px;
}
.menu{
	font-size: 24px;
	position: absolute;
	right: 0;

}

.menu a{

	color: #ffcb05;
}

.menu ul{

	margin-right: 40px;
}
.button{
	border-radius: 13px;
	border: none;
	background: #ffcb05;
	color: white; 
	padding: 7px 12px;
	cursor: pointer;
	text-decoration: none;
	font-size: 19px;
	background: linear-gradient(to left, #f4a718, #ffcb05);
	cursor: pointer;

}
.menu, .logotipo, .menu li{
	display: inline-block;
	margin-left: 30px;
}
.header{
	position: relative;
}

.contenedor{
	width: 800px;
	margin: auto;
	position: relative;
}


.right {
	float: right;
	padding-top: 40px;
	padding-right: 110px;
	margin-top: 0;


}
.left {
	float: left;
	padding-top: 50px;
	padding-left: 110px;
}
.Container-a ol{
	margin-left: 410px;
}
.Container-a{
	margin-left: 100px;
	 margin-right: 100px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 40px;
   border: solid 1px;
border-radius: 10px;
	
} 

.Container-b{
	margin-top: 40px;
	 border:  solid 1px;
    margin-left: 100px;
    padding-bottom: 0px;
    margin-bottom: 20;
    margin-right:100px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: solid 1px;
    border-radius:10px;

}
.footer{
	background: #1c1f1e;
}
.Contacto{
	display: flex;
	width: 400px;
	flex-wrap: wrap;
	align-items: center;
}
.Contacto img{
	display: block;
}
.Contacto strong{
	display: block;
}
.Contacto a{
	color: #ffcb05;
	text-decoration: none;
	margin: 10px 10px 0;
}
.footer, .contenedor{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}
.Formulario{
	display: flex;
	width: 400px;
}

.col1, .col2{
	display: flex;
	flex-direction: column;
	color:  #ffcb05;
}

.col1{
	margin-right:60px;
}

.col2{
	align-items: flex-start;
}
.col2 .button{
	margin-top: 15px;
}
.Intereses label {
	font-size:12px;

}
.Formulario label, .Sexo{
	margin-bottom: 10px;
}

.Sexo{
	margin-top: 10px;
	font-size: 13px;
}

.menu li:before{
	content: '*';
	color: #ffcb05;
	line-height: 20px;

}


.Mass{
	margin-left: 45px;
	margin-bottom: 60px;
}

.titulo{

	margin-bottom: 30px;
}